.highlight-color1{
    color: #FA804C;
}
.highlight-color2{
    color:rgb(79, 72, 122);
}

.color-highlight3{
    color: deeppink;
}
.button-color{
background-color: deeppink !important;

}
.img-borader-r{
    border-radius: 30px;
}