

.highlight-color1{
    color: #FA804C;
}
.highlight-color2{
    color:#4f487a;
}

.color-highlight3{
    color: deeppink;
}
.button-color{
background-color: #4f487a !important;

}
.img-borader-r{
    border-radius: 30px;
}

.card{
    border: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
#feedback{
    height: 300px;
}
#feedback h6{
    color: gray;
}
p{
    color: gray;
}

.bg{
    background-color: #f8eeed;
    border-radius: 10px;
}

footer{
    text-align: center;
    color: gray;
}
